{% extends "wrapper.html" %}

{% load static %}

{% block title %}{{ article.title }} - Readme{% endblock title %}

{% block head-content %}
<link rel="stylesheet" href="{% static 'styles/article_page.css' %}">
{% endblock head-content %}

{% block wrapper-cont %}
<div class="cont article">
    <h1>{{ article.title }}</h1>
    <p class="byline">
        {% if article.authors.all|length > 2 %}
            By {% for author in article.authors.all %}
                <a href="{% url 'author' author.slug %}">
                    {% if forloop.last %} {{ author.name }}, {% else %} {{ author.name }} {% endif %}
                </a>
            {% endfor %} &bull;
        {% elif article.authors.all|length == 2 %}
            By <a href="{% url 'author' article.authors.all.0.slug %}">{{ article.authors.all.0.name }}</a> & <a href="{% url 'author' article.authors.all.1.slug %}">{{ article.authors.all.1.name }}</a> &bull;
        {% elif article.authors.all|length == 1 %}
            By <a href="{% url 'author' article.authors.all.0.slug %}">{{ article.authors.all.0.name }}</a> &bull;
        {% endif %}
        <a href="{% url 'issue' article.issue.vol article.issue.num %}">
            Vol {{ article.issue.vol }}, Issue {{ article.issue.num}}
        </a> &bull;
        {{article.true_created_on|date:"DATE_FORMAT"}}
    </p>

    {% load tag %}
    
    {% with vol=article.issue.vol|stringformat:"s" num=article.issue.num|stringformat:"s" %}
        {% with folder_path="vol"|add:vol|add:"/issue"|add:num|add:"/images/" %}
            {{ article.body|create_md|imgswitch:folder_path|safe }}
        {% endwith %}
    {% endwith %}
</div>
{% endblock wrapper-cont %}
