{% load static %}

{% block head-content %}
    <link rel="stylesheet" href="{% static 'styles/article_card.css' %}">
{% endblock head-content %}

<div class="article-card">
    <h3 class = "article-title">
        <a href="{% url 'article_page' article.slug %}">{{ article.title }}</a>
    </h3>
    
    <p class="byline">
        {% if article.authors.all|length > 2 %}
            By {% for author in article.authors.all %}
                <a href="{% url 'author' author.slug %}">
                    {% if forloop.last %} {{ author.name }}, {% else %} {{ author.name }} {% endif %}
                </a>
            {% endfor %} &bull;
        {% elif article.authors.all|length == 2 %}
            By <a href="{% url 'author' article.authors.all.0.slug %}">{{ article.authors.all.0.name }}</a> & <a href="{% url 'author' article.authors.all.1.slug %}">{{ article.authors.all.1.name }}</a> &bull;
        {% elif article.authors.all|length == 1 %}
            By <a href="{% url 'author' article.authors.all.0.slug %}">{{ article.authors.all.0.name }}</a> &bull;
        {% endif %}
        <a href="{% url 'issue' article.issue.vol article.issue.num %}">
            Vol {{ article.issue.vol }}, Issue {{ article.issue.num}}
        </a> &bull;
        {{article.true_created_on|date:"DATE_FORMAT"}}
    </p>

    {% load tag %}
    <p>
    {% is_image_article article.body as x %}
    {% if x %}
        {% with vol=article.issue.vol|stringformat:"s" num=article.issue.num|stringformat:"s" %}
            {% with folder_path="vol"|add:vol|add:"/issue"|add:num|add:"/images/" %}
                {{ article.body|create_md|imgswitch:folder_path|safe }}
            {% endwith %}
        {% endwith %}
    {% else %}
        {{article.body | create_md | imgremove | truncatewords_html:50 | safe}}
    {% endif %}
    </p>
</div>