{% extends "wrapper.html" %}

{% load static %}

{% block title %}{{ article.title }} - Readme{% endblock title %}

{% block head-content %}
<link rel="stylesheet" href="{% static 'styles/article_page.css' %}">
{% endblock head-content %}

{% block wrapper-cont %}
<div class="cont article">
    <h1>{{ article.title }}</h1>
    
    {% include "./byline.html" %}

    {% load tag %}
    
    {% with vol=article.issue.vol|stringformat:"s" num=article.issue.num|stringformat:"s" %}
        {% with folder_path="vol"|add:vol|add:"/issue"|add:num|add:"/images/" %}
            {{ article.body|create_md|imgswitch:folder_path|safe }}
        {% endwith %}
    {% endwith %}
</div>
{% endblock wrapper-cont %}
