
{% comment %} When you use the card in another view make sure in that views head you include article_card.css {% endcomment %}

<div class="article-card">
    <h3 class = "article-title">
        <a href="{% url 'article_page' article.slug %}">{{ article.title }}</a>
    </h3>
    
    <p class="byline">
        <!-- byline. output such as Author 1 | Dr. Et Al. | Vol 0, Issue 0 -->
        
        {% if article.authors.all|length > 2 %}
            By {% for author in article.authors.all %}
                <a href="{% url 'author' author.name %}">
                    {% if forloop.last %} {{ author.name }}, {% else %} {{ author.name }} {% endif %}
                </a>
            {% endfor %} &bull;
        {% elif article.authors.all|length == 2 %}
            By <a href="{% url 'author' article.authors.all.0.name %}">{{ article.authors.all.0.name }}</a> & <a href="{% url 'author' article.authors.all.1.name %}">{{ article.authors.all.1.name }}</a> &bull;
        {% elif article.authors.all|length == 1 %}
            By <a href="{% url 'author' article.authors.all.0.name %}">{{ article.authors.all.0.name }}</a> &bull;
        {% endif %}
        <a href="{% url 'issue' article.issue.vol article.issue.num %}">
            Vol {{ article.issue.vol }}, Issue {{ article.issue.num}}
        </a> &bull;
        {{article.true_created_on|date:"DATE_FORMAT"}}
    </p>

    {% load tag %}
    <p>
    {% with vol=article.issue.vol|stringformat:"s" num=article.issue.num|stringformat:"s" %}
        {% with folder_path="vol"|add:vol|add:"/issue"|add:num|add:"/images/" %}
            {{ article.body|create_md|imgswitch:folder_path|safe }}
        {% endwith %}
    {% endwith %}
    </p>
</div>