{% extends "wrapper.html" %}

{% load static %}

{% block title %}{{ article.title }} - Readme{% endblock title %}

{% block head-content %}
<link rel="stylesheet" href="{% static 'styles/article.css' %}">
{% endblock head-content %}

{% block wrapper-cont %}
<div class="cont article">
    <h1>{{ article.title }}</h1>
    
    {% include "./article_byline.html" %}
    <div class="byline-text{% if not article.byline_italic %} byline-no-italic{% endif %}">
        {{ article.byline_html|safe }}
    </div>

    {% load tag %}
    
    {{ article.body_html|safe }}
</div>
{% endblock wrapper-cont %}
