{% extends "base.html" %}

{% load static %}
{% load tag %}

{% block head-content %}
<link rel="stylesheet" href="{% static 'styles/author.css' %}">
<link rel="stylesheet" href="{% static 'styles/wrapper.css' %}">
{% endblock head-content %}

{% block page-content %}
<div class="suspect-card">
    <img src="{{author.img_url}}" alt="{{author.name}}"/>

    <div>
        <h1>{{author.name}}</h1>
        <div class = "small-facts">
            &#128205; {{author.location_blurb}} | Pronouns: {{author.pronoun_blurb}}
        </div>
        <div class = "small-facts">
            Email {{author.email_blurb}}
        </div>
        <p class="roles">{{author.roles}}</p>
        <p>
            {{author.major_blurb}}, {{author.year_blurb}}
        </p>
        
    </div>
</div>

<div>
    <h2>Bio</h2>

    <p>
        {{ author.bio_blurb | create_md | safe }}
    </p>

    <h2>Fun Fact</h2>

    <p>
        {{author.fact_blurb}}
    </p>

    <h2>Previous Work</h2>
    {% for article in articles %}
        {% include "./article_card.html" %}  
    {% endfor %}
</div>
{% endblock page-content %}