{% extends "wrapper.html" %}

{% load static %}

{% block title %}Staff - Readme{% endblock title %}

{% block head-content %}
<link rel="stylesheet" href="{% static 'styles/author_list.css' %}">
{% endblock head-content %}

{% block wrapper-cont %}
<div class="cont staff-list">
    <h1>Our Usual Suspects</h1>

    <div class="cards-cont">
        {% for author in usual_suspects %}
        <a class="author-card" href="{% url 'author' author.slug %}">
            <img src="{{ author.img_url }}" alt="{{ author.name }}">
            <div class="author-info">
                <h4 class="author-name">{{ author.name }}</h4>

                <div class="author-bio">
                    <p><b>{{ author.roles }}</b></p>
                    <p>{{author.bio|truncatechars_html:100 | safe}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <h2>Contractors</h2>

    <div class="cards-cont">
        {% for author in independent_contractors %}
        <a class="author-card" href="{% url 'author' author.slug %}">
            <img src="{{ author.img_url }}" alt="{{ author.name }}">
            <div class="author-info">
                <h4 class="author-name">{{ author.name }}</h4>
                
                <div class="author-bio">
                    <p><b>{{ author.roles }}</b></p>
                    <p>{{author.bio|truncatechars_html:100 | safe}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    
    <h2>Defectors</h2>

    <div class="cards-cont">
        {% for author in escapees %}
        <a class="author-card" href="{% url 'author' author.slug %}">
            <img src="{{ author.img_url }}" alt="{{ author.name }}">
            <div class="author-info">
                <h4 class="author-name">{{ author.name }}</h4>

                <div class="author-bio">
                    <p><b>{{ author.roles }}</b></p>
                    <p>{{author.bio|truncatechars_html:100 | safe}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock wrapper-cont %}