{% extends "wrapper.html" %}

{% load static %}

{% block title %}{{ image_gag.alt_text|default:"Image" }} - Readme{% endblock title %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'styles/image_gag.css' %}">
{% endblock styles %}

{% block wrapper-cont %}
<div class="cont image-gag">
    <div class="img-cont">
        <img alt="{{ image_gag.alt_text }}" src="{{ image_gag.image.url }}"/>
    </div>

    {% include "./image_gag_byline.html" %}
</div>
{% endblock wrapper-cont %}
