{% extends "wrapper.html" %}

{% load static %}

{% block title %}{{ image_gag.alt_text|default:"Image" }} - Readme{% endblock title %}

{% block head-content %}
<link rel="stylesheet" href="{% static 'styles/image_gag.css' %}">
{% endblock head-content %}

{% block wrapper-cont %}
<div class="cont image-gag">
    <div class="img-cont">
        <img alt="{{ image_gag.alt_text }}" src="{{ image_gag.image.url }}"/>
    </div>

    <div class="caption-byline">
        {% if image_gag.caption != "" %}
            <span class="caption">
                {{ image_gag.caption_html|safe }}
            </span> //
        {% endif %}

        <span class="byline">
            {% if image_gag.anon_artists == 0 %}
                {% if image_gag.artists.all|length > 2 %}
                    By {% for author in image_gag.artists.all %}
                        <a href="{% url 'author' author.slug %}">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %} &bull;
                {% elif image_gag.artists.all|length == 2 %}
                    By <a href="{% url 'author' image_gag.artists.all.0.slug %}">{{ image_gag.artists.all.0.name }}</a> & <a href="{% url 'author' image_gag.artists.all.1.slug %}">{{ image_gag.artists.all.1.name }}</a> &bull;
                {% elif image_gag.artists.all|length == 1 %}
                    By <a href="{% url 'author' image_gag.artists.all.0.slug %}">{{ image_gag.artists.all.0.name }}</a> &bull;
                {% endif %}
            {% elif image_gag.anon_artists > 0 %}
                {% if image_gag.artists.all|length > 1 %}
                    By {% for author in image_gag.artists.all %}
                        <a href="{% url 'author' author.slug %}">{{ author.name }}</a>{% if not forloop.last %},{% endif %}{% endfor %}, {% if image_gag.anon_artists == 1 %} Anonymous {% else %} {{image_gag.anon_artists}} anonymous writers {% endif %} &bull;
                {% elif image_gag.artists.all|length == 1 %}
                    By <a href="{% url 'author' image_gag.artists.all.0.slug %}">{{ image_gag.artists.all.0.name }}</a> & {% if image_gag.anon_artists == 1 %} Anonymous {% else %} {{image_gag.anon_artists}} anonymous writers {% endif %} &bull;
                {% elif image_gag.artists.all|length == 0 %}
                    By {% if image_gag.anon_artists == 1 %} Anonymous {% else %} {{image_gag.anon_artists}} anonymous writers {% endif %} &bull;
                {% endif %}
            {% endif %}
            <a href="{% url 'issue' image_gag.issue.vol image_gag.issue.num %}">
                Vol {{ image_gag.issue.vol }}, Issue {{ image_gag.issue.num}}
            </a> &bull;
            {{image_gag.true_created_on|date:"DATE_FORMAT"}}
        </span>
    </div>
</div>
{% endblock wrapper-cont %}
