{% load static %}

<div class="index-article-card{% if centered %} centered{% endif %}">
    <h2>
        <a href="{% url 'article_page' article.slug %}">
            {{ article.title }}
        </a>
    </h2>
    
    {% include "./byline.html" %}

    {% load tag %}
    {% is_image_article article.body as x %}
    {% if x %}
        {{ article.body_html|safe }}
    {% else %}
        {{article.body_html|truncatewords_html:50|safe}}
    {% endif %}
    <p><a href="{% url 'article_page' article.slug %}">Read more</a></p>
</div>

<!--

    THE RTOSH PLAN:

    1. Fix markdown vs. imgswitch issue in tags
    2. Create separate mechanism for image-only articles
    3. Add image dimensions to articleimages model
    4. Improve image rendering (load images on demand, show properly-sized light gray placeholder until then)
    5. Improve rendering of image-only articles in all places they're shown (index cards [large, sidebar, and main], stories/staff cards, article page)

-->