{% extends "base.html" %}

{% load static %}
{% load tag %}

{% block head-content %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock head-content %}

{% block cont %}
<div class="cont index">
    <div class="front-page">
        <div class="main">
            {% include "./index_largest.html" with largest=feat_articles.largest %}
        
            <hr>

            <div class="module-1">
                <div class="module-column">
                    {% include "./index_article_card.html" with piece=feat_articles.column centered=True %}
                </div>

                <div class="module-wide">
                    {% include "./index_article_card.html" with piece=feat_articles.article %}

                    <hr>
                    <div class = "feat-image">
                        {% with piece=feat_articles.image %}
                        {% include piece.card_template %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar">
            {% for piece in sidebar %}
                {% include piece.index_card_template %}
            {% endfor %}
        </div>
    </div>

    <div>
        <div class="addl-cont">
            {% for piece in secondary %}
                {% if forloop.counter0|modulo:3 == 0 %}
                    <div>
                {% endif %}
                        {% include piece.index_card_template %}
                {% if forloop.counter0|modulo:3 != 2 %}
                        <div class="divider"></div>
                {% else %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock cont %}

{% block body-suffix %}
<div id="ticker"><div>{% for rej_head in rej_heads %}{{ rej_head.title|trim_rh }} &bull; {% endfor %}{% for rej_head in rej_heads %}{{ rej_head.title }}{% if not forloop.last %} &bull; {% endif %}{% endfor %}</div></div>

<!-- TODO: Make sure this runs after font has loaded!!! -->
<script>
    {
        const ticker = document.getElementById("ticker");
        ticker.firstChild.style.animationDuration = (ticker.offsetWidth / 200) + "s";
    }
</script>
{% endblock body-suffix %}