{% extends "base.html" %}

{% load static %}

{% block head-content %}
<link rel="stylesheet" href="{% static 'styles/issue.css' %}">
<link rel="stylesheet" href="{% static 'styles/wrapper.css' %}">
{% endblock head-content %}

{% block page-content %}

<body>
    <div class="title-block">
        <h3>Vol {{ i.vol }}, Issue {{ i.num }}:<em> {{ issue }}</em></h3>
    </div>

    <div class = "rejected-headlines">
        <h3 id = "title">Rejected Headlines</h3>
        <ul>
            {% for rejected_headline in rejected_headlines %}
                <li>{{rejected_headline.title}} </li>
            {% endfor %}
        </ul>
        <h3 id = "and-more">All this and more, not in this issue!</h3>
    </div>
    
    {% for article in articles %}
        {% include "./article_card.html" %}  
    {% endfor %}
</body>
{% endblock page-content %}
