{% extends "wrapper.html" %}

{% load static %}

{% block title %}Vol {{ issue.vol }}, Issue {{ issue.num }}: {{ issue.short_name }} - Readme{% endblock title %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'styles/issue.css' %}">
<link rel="stylesheet" href="{% static 'styles/cards.css' %}">
{% endblock styles %}

{% block wrapper-cont %}
<div class="cont issue">
    <h2>Vol {{ issue.vol }}, Issue {{ issue.num }}: {{ issue.short_name }} (<a class="styled" href="{{ issue.archive.url }}">PDF</a>)</h2>
    <p class="issue-subtitle">{{ issue.long_name }}</p>

    <div class="rejected-headlines">
        <h3 class="top">Rejected Headlines</h3>

        <ul>
            {% for rejected_headline in rejected_headlines %}
                <li>{{rejected_headline.title}} </li>
            {% endfor %}
        </ul>

        <h3 class="bottom">All this and more, not in this issue!</h3>
    </div>
    
    {% for piece in pieces %}
        {% include piece.card_template %}  
    {% endfor %}
</div>
{% endblock wrapper-cont %}
