{% extends "wrapper.html" %}

{% load static %}

{% block title %}Issues - Readme{% endblock title %}

{% block head-content %}<link rel="stylesheet" href="{% static 'styles/issue_list.css' %}">{% endblock head-content %}

{% block wrapper-cont %}
<div class="cont issue-list">
    <h1>Issues Archive</h1>

    <div>
        {% regroup issues by vol as vol_issues %}
        {% for vol_issue in vol_issues reversed %}
        <details>
            <summary>Vol {{ vol_issue.grouper }}</summary>

            <div>
                {% for issue in vol_issue.list reversed %}
                <div class="issue-item">
                    <div class="issue-square">
                        <div>
                            <p>Issue {{ issue.num }}</p>
                            <p><a href="{{issue.archive.url}}">pdf</a></p>
                        </div>
                    </div>

                    <div class="issue-info">
                        <a href="{% url 'issue' issue.vol issue.num %}" style="font-family: 'Special Elite', cursive;">{{ issue.name }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </details>
        {% endfor %}
    </div>
</div>
{% endblock wrapper-cont %}