{% extends "wrapper.html" %}

{% load static %}

{% block title %}Stories - Readme{% endblock title %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'styles/stories.css' %}">
<link rel="stylesheet" href="{% static 'styles/cards.css' %}">
<link rel="stylesheet" href="{% static 'styles/pagination.css' %}">
{% endblock styles %}

{% block wrapper-cont %}
<div class="cont stories">
{% for piece in pieces %}
    {% include piece.card_template %}  
{% endfor %}

{% include "pagination.html" %}
</div>
{% endblock wrapper-cont %}