{% extends "admin/base.html" %}
{% load static %}

{% block branding %}
    <h1 id="site-name">Readme Admin</h1>
{% endblock %}

{% block usertools %}
    <div id="user-tools">
        Welcome {{user}} /
        <a href="/">View site</a> /
        <a href="/admin/password_change/">Change password</a> /
        <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
            
    </div>
{% endblock %}

{% block nav-global %}{% endblock %}