{% extends "base.html" %}
{% load static %}


{% block page-content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <!-- spacer -->
      </div>
      <div class="col-8">
        <h1><em>Games</em></h1>
        <h2>Rotating Chess</h2>

        <iframe width=600px height=400px src="https://wade-cheng.is-a.dev/rotating-chess/"></iframe>

        <h2>Unboundle</h2>

        <iframe width=600px height=900px src="https://ryantosh.github.io/unboundle/"></iframe>

        <!-- <h1>literally malware</h1>
        warning: literally malware -->
        </div>
      </div>
      <div class="col-2">
        <!-- spacer -->
      </div>
    </div>
  </div>

{% endblock page-content %}
