
{% comment %} When you use the card in another view make sure in that views head you include article_card.css {% endcomment %}

<div class="article-card">
    <h3 class = "article-title">
        <a href="{% url 'article_detail' article.slug %}">{{ article.title }}</a>
    </h3>
    
    <p class="byline">
        <!-- byline. output such as Author 1 | Dr. Et Al. | Vol 0, Issue 0 -->
        By 
        {% for author in article.authors.all %}
            <a href="{% url 'article_author' author.name %}">
                {{ author.name }}
            </a>
        {% endfor %}
        •
        <a href="{% url 'article_issue' article.issue.vol article.issue.num %}">
            Vol {{ article.issue.vol }}, Issue {{ article.issue.num}}
        </a>
        •
        {{article.true_created_on|date:"DATE_FORMAT"}}
    </p>

    {% load tag %}
    <p>
        {{ article.body | slice:":400" | create_md | imgswitch:"article_images/" | safe | slice:":400" }}...
    </p>
</div>

