<!-- articles/templates/articles/category.html -->
{% extends "base.html" %}

{% load static %}

{% block head-content %}
<link rel="stylesheet" href="{% static 'styles/author.css' %}">
<link rel="stylesheet" href="{% static 'styles/article_card.css' %}">
<link rel="stylesheet" href="{% static 'styles/wrapper.css' %}">
{% endblock head-content %}

{% block page-content %}
<div class="suspect-card">
    <img src="{{author.img.url}}" alt="{{author.name}}"/>

    <div>
        <h1>{{author.name}}</h1>
        <p class="location">
        {% if author.location.strip %}
        &#128205; {{author.location}}
        {% else %}
        &#128205; missing&hellip;
        {% endif %}
    </p>

        <p class="roles">{{author.roles}}</p>
        <p>{{author.major}}, {{author.year}}</p>
        <p class="pronouns">
            {% if author.pronouns.strip %}
                {{author.pronouns}}
            {% endif %}
        </p>
    </div>
</div>

<div>
    <h2>Bio</h2>

    <p>{{author.bio}}</p>

    <h2>Fun Fact</h2>

    <p>{{author.fact}}</p>

    <h2>Previous Work</h2>
    {% for article in articles %}
        {% include "./article_card.html" %}  
    {% endfor %}
</div>
{% endblock page-content %}