<!-- articles/templates/articles/index.html -->

{% extends "base.html" %}

{% load static %}

{% block page_title %}
{% endblock page_title %}

{% block page_info %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/CSS" href="{% static 'styles/category_list.css' %}">
</head>
{% endblock page_info %}

{% block page-content %}
    
    <body>
        <div class="container">
            <ul class="author-list">
                <li class="author-item">
                    <h3><em>The Stuff We Do</em></h3>
                </li>
                {% for category in categories %}
                <li class="author-item">
                    {% load static %}
                    <img src="{% static 'anon.png' %}" style="image-rendering: pixelated;">
                    <div class="author-info">
                        <div class="author-name"><h4><a href="{% url 'article_category' category.name %}" style="font-family: 'Special Elite', cursive;">{{ category.name }}</div>
                    
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
{% endblock page-content %}