<div>
    <img src="{{MEDIA_URL}}{{largest.images.first.image}}"/>

    <h1>
        <a href="{% url 'article_page' largest.slug %}">
            {{ largest.title }}
        </a>
    </h1>
    
    <p class="byline">
        By
        {% for author in largest.authors.all %}
            <a href="{% url 'article_author' author.name %}">
                {{ author.name }}
            </a>
        {% endfor %}
        •
        {% with issue=largest.issue %}
            <a href="{% url 'article_issue' issue.vol issue.num %}">
                Vol {{issue.vol }}, Issue {{issue.num}}
            </a>
            {% endwith %}
        •
        {{largest.true_created_on|date:"DATE_FORMAT"}}
    </p>
</div>