{% extends "base.html" %}

{% load static %}

{% block head-content %}
<link rel="stylesheet" href="{% static 'styles/issue.css' %}">
<link rel="stylesheet" href="{% static 'styles/article_card.css' %}">
<link rel="stylesheet" href="{% static 'styles/wrapper.css' %}">
{% endblock head-content %}

{% block page-content %}
<head>
    <title>Vol {{ i.vol }}, Issue {{ i.num }}: {{ issue }}</title>
</head>
<body>
    <div class="title-block">
        <h3>Vol {{ i.vol }}, Issue {{ i.num }}:<em> {{ issue }}</em></h3>
    </div>
    
    {% for article in articles %}
        {% include "./article_card.html" %}  
    {% endfor %}
    <!-- Rest of your content goes here -->
</body>
{% endblock page-content %}

