{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}KGB Presents: Readme{% endblock title %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        {% block wrapper-styles %}{% endblock wrapper-styles %}

        <link rel="icon" type="image/png" href="{% static 'readme_logo.png' %}" sizes="128x128" />
        <link rel="icon" type="image/png" href="{% static 'readme_logo_32x32.png' %}" sizes="32x32" />

        {% block head-content %}{% endblock head-content %}
    </head>

    <body>
        <div class="body-cont base">
            <div class="wrapper">
                <header>
                    <div class="splash">Paid for by: {{paid_for.title}}</div>
    
                    <a href="/"><img src="{% static 'readme-site-header-blank.png' %}" alt="KGB Presents: readme"/></a>
                    
                    <nav>
                        <ul>
                            <li><a class="nav-link" href='{% url "index" %}'>Stories</a></li>
                            <li><a class="nav-link" href='{% url "author_list" %}'>Staff</a></li>
                            <li><a class="nav-link" href='{% url "issue_list" %}'>Issues</a></li>
                            <li><a class="nav-link" href='{% url "purity_test" %}'>CMU Purity Test</a></li>
                            <li><a class="nav-link" href='{% url "about_us" %}'>About Us</a></li>
                            <li><a class="nav-link" href ='{% url "random" %}'>Random</a></li>
                            <li><a class="nav-link" href ='{% url "stories" %}'>&#x1f50e;</a></li>
                        </ul>
                    </nav>
                </header>

                <div class="bar-subtext">
                    <div class="left">Editor-in-Chief: Eshaan Joshi</div>
                    <div class="center">All the news unfit to print!</div> 
                    <div class="right">Pitch meetings Sat 5:00 pm, DH-1211</div>
                </div>

                {% block cont %}{% endblock cont %}
            </div>
        </div>

        {% block body-suffix %}{% endblock body-suffix %}
    </body>
</html>
