{% comment %} Easy pagination template. Very reusable very epic {% endcomment %}
{% load static %}


{% block head-content %}
    <link rel="stylesheet" href="{% static 'styles/pagination.css' %}">
{% endblock head-content %}

<div class="nav-bar">
  <span>
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </span>
</div>