{% extends "base.html" %}

{% load static %}

{% block head-content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/wrapper.css' %}">
{% block wrapper-head-content %}{% endblock wrapper-head-content %} <!--TODO: "shadow" head-content and page-content if possible, for seamless switching between base.html and wrapper.html-->
{% endblock head-content %}

{% block page-content %}
<div id="content">
    <div id="content-wrapper">
        {% block wrapper-content %}{% endblock wrapper-content %}
    </div>
</div>
{% endblock page-content %}