.cont.about-us h1 {
    margin-bottom: 12px;
}

.cont.about-us p {
    margin-bottom: 6px;
}

.cont.about-us .top-cont {
    margin-bottom: 24px;
}

.cont.about-us .sub-cont {
    margin-bottom: 12px;
}

.cont.about-us .img-cont {
    display: flex;
    justify-content: center;
}

.cont.about-us img {
    width: 50%;
}

.cont.about-us ul {
    list-style-type: initial;
}