.cont.about-us {
    text-align: justify;
}

.cont.about-us h1 {
    margin-bottom: 12px;
}

.cont.about-us p {
    margin-bottom: 6px;
}

.cont.about-us .top-cont {
    margin-bottom: 48px;
}

.cont.about-us .sub-cont:not(:last-child) {
    margin-bottom: 48px;
}

.cont.about-us .img-cont {
    display: flex;
    justify-content: left;
}

.cont.about-us img {
    width: 33.33%;
    margin-left: 12px;
}

.cont.about-us ul {
    list-style-type: initial;
}

.cont.about-us .donate-link {
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
}