.page-header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-header{
    text-align: center;
    padding-top: 10px;
}

.links{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;

}

.email{
    text-align: center;
}

.numbers{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}