.article-title{
    font-family: 'Special Elite';
}

.article-card {
    background-color: var(--background);
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    list-style: none;
    margin-bottom: 2em;
}

h3 a {
    color: black;
    text-decoration: none;  
}

.byline {
    font-family: 'Roboto';
    font-size: 14px;
    text-align: left;
}