.cont.article {
    font-size: 18px;
}

.cont.article img {
    width: 100%;
    margin-bottom: 12px;
}

.cont.article h1 {
    font-size: 60px;
    margin-bottom: 12px;
}

.cont.article p.byline {
    text-align: center;
    font-family: var(--byline-font-stack);
}

.cont.article p.byline a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.cont.article hr {
    border-width: 0;
    margin: 24px 0;
    height: 1px;
    background-color: #888;
}

.cont.article p {
    margin-bottom: 12px;
}