.article-card {
    display: block;
    border: 1px solid var(--border-color);
    padding: 24px;
    margin-bottom: 12px;
}

.article-card h2 {
    margin-bottom: 2px;
}

.article-card p {
    font-size: 14px;
    margin-bottom: 6px;
}

.article-card p:last-child {
    margin-bottom: 0;
}

.article-card p.byline {
    font-family: var(--byline-font-stack);
    margin-bottom: 12px;
    text-align: left;
}

.article-card img {
    width: 50%;
    margin-left: 25%;
}