.article-card {
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    list-style: none;
    margin-bottom: 2em;
}

.article-card p.byline {
    font-family: var(--byline-font-stack);
    font-size: 14px;
    text-align: left;
}