.cont.staff-list h1 {
    margin-bottom: 12px;
}

.cont.staff-list h2 {
    margin-bottom: 12px;
    text-align: center;
    font-size: 33px;
}

.cont.staff-list .cards-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 800px;
    width: 100%;
    margin-bottom: 48px;
}

.cont.staff-list .author-card {
    border: 1px solid var(--border-color);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: balance;
}

.cont.staff-list .author-card img {
    width: 96px;
    height: 96px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-bottom: 12px;
}

.cont.staff-list h4.author-name {
    font-size: 20px;
    text-align: inherit;
    margin-bottom: 12px;
}

.cards-cont .author-info {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.cont.staff-list .author-bio {
    font-size: 14px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.cont.staff-list .special-author {
    grid-column: 1 / -1;
    /* Span across all columns */
    padding: 20px;
    margin-bottom: 20px;
    /* Space below the card */
}

@media (max-width: 640px) {
    .cont.staff-list .author-card {
        padding: 15px;
    }

    .cont.staff-list .author-name {
        font-size: 18px;
    }

    .cont.staff-list .author-bio {
        font-size: 13px;
    }

    .cont.staff-list .special-author {
        padding: 15px;
    }
}