#suspect {
    display: flex;
    justify-content: center;
    padding: 48px;
    text-align: justify;
    font-size: 18px;
  }
  
  #suspect-wrapper {
    width: 720px;
  }
  
  .suspect-card {
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #888;
    font-family: 'Roboto';
    font-size: 16px;
    margin-bottom: 24px;
  }
  
  .suspect-card > img {
    width: 144px;
    /* border-radius: 50%; */
  }
  
  .suspect-card > div {
    flex-grow: 1;
  }
  
  #suspect .suspect-card p {
    margin-bottom: 0;
  }
  
  #suspect .suspect-card p.pronouns {
    font-size: 14px;
    margin-top: -4px;
    margin-bottom: 12px;
    font-family: 'Special Elite';
  }
  
  .suspect-card .roles {
    font-weight: bold;
  }
  
  #article img {
    width: 100%;
    margin-bottom: 12px;
  }
  
  #suspect h1 {
    font-weight: 900;
    font-size: 48px;
    text-wrap: pretty;
    line-height: 1.25;
  }
  
  #suspect h2 {
    font-family: 'Roboto';
    font-size: 24px;
    text-wrap: pretty;
  }
  
  #suspect hr {
    border-width: 0;
    margin: 24px 0;
    height: 1px;
    background-color: #888;
  }
  
  #suspect p {
    margin-bottom: 12px;
  }
  
  @media (max-width: 1200px) {
    #wrapper {
        width: 100%;
        max-width: unset;
    }
  }
  
  @media (max-width: 826px) {
    #splash {
        display: none;
    }
  }