.cont.staff .staff-card {
    display: flex;
    align-items: start;
    gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border-color);
    font-family: var(--sans-font-stack);
    font-size: 16px;
    margin-bottom: 24px;
}

.cont.staff .staff-card > img {
    width: 144px;
    height: 144px;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    border-radius: 50%;
}

.cont.staff .staff-card > div {
    flex-grow: 1;
}

.cont.staff .staff-card p {
    margin: 0;
}

.cont.staff .staff-card h1 {
    text-transform: unset;
    font-size: 48px;
    text-align: left;
}

.cont.staff .staff-card p.pronouns {
    font-size: 14px;
    margin-top: -4px;
    margin-bottom: 12px;
    font-family: var(--display-font-stack);
}

.cont.staff .staff-card .roles {
    font-weight: bold;
}

.cont.staff h2 {
    font-family: var(--sans-font-stack);
    font-weight: bold;
    margin-bottom: 2px;
}

.cont.staff .margin-bottom {
    margin-bottom: 12px;
}

.cont.staff hr {
    margin: 24px 0;
}

.cont.staff p {
    margin-bottom: 12px;
}

@media (max-width: 560px) {
    .cont.staff .staff-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .cont.staff .staff-card h1 {
        text-align: center;
    }
}