.staff-card {
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #888;
    font-family: 'Roboto';
    font-size: 16px;
    margin-bottom: 24px;
}

.staff-card > img {
    width: 144px;
    height: 144px;
    object-fit: cover;
    object-position: center;
    align-self: flex-start;
    flex-shrink: 0;
    border-radius: 50%;
}

.staff-card > div {
    flex-grow: 1;
}

.staff-card p {
    margin: 0;
}

.staff-card h1 {
    font-family: 'Special Elite';
    font-weight: 900;
    font-size: 48px;
    text-wrap: pretty;
    line-height: 1.25;
}

.staff-card p.pronouns {
    font-size: 14px;
    margin-top: -4px;
    margin-bottom: 12px;
    font-family: 'Special Elite';
}

/* #suspect .staff-card .location {
    font-size: 14px;
    margin-top: -4px;
    margin-bottom: 12px;
    font-family: 'Special Elite';
} */

.staff-card .roles {
    font-weight: bold;
}

h2 {
    font-family: 'Roboto';
    font-size: 24px;
    text-wrap: pretty;
}

.margin-bottom {
    margin-bottom: 12px;
}

hr {
    border-width: 0;
    margin: 24px 0;
    height: 1px;
    background-color: #888;
}

p {
    margin-bottom: 12px;
}

#article img {
    width: 100%;
    margin-bottom: 12px;
}