*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
    font: inherit;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

hr {
    border: none;
    height: 1px;
    background-color: #888888;
    margin: 12px;
}

/* a paragraph proceeded by another paragraph will have a top margin */
p + p {
    margin-top: 0.5em;
}


img {
    display: block;
}

a {
    color: #da0000;
}

a:visited {
    color: #b5002a;
}

/* **** */

body {
    background-color: #fafafa;
    font-family: 'Crimson Text';
}

h1,
h2 {
    font-family: 'Special Elite';
}

p.byline {
    font-family: 'Roboto';
}

#container {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow-y: scroll;
}

#wrapper {
    width: 1248px;
    padding: 0 24px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* @media (max-width: 1248px) {
    #bar-subtext {
        padding: 0 24px;
    }
}

@media (max-width: 1296px) {
    #wrapper {
        width: 100%;
        max-width: unset;
    }
} */

header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid #121212;

    padding-top: 12px;

    position: relative;

    font-family: 'Roboto';
}

nav {
    font-family: 'Special Elite';
}

header::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    box-sizing: content-box;
    border-top: 1px solid #121212;
}

#splash {
    position: absolute;
    top: 36px;
    left: 24px;
    max-width: 128px;
    text-wrap: pretty;
    font-size: 14px;
    text-align: center;
    font-style: italic;
}

@media (max-width: 826px) {
    #splash {
        display: none;
    }
}

header > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header img {
    max-height: 108px;
    max-width: 50%;
}

nav {
    margin: 12px 0;
    max-width: 100%;
}

nav ul {
    padding: 0;

    display: flex;
    justify-content: center;
    column-gap: 16px;
    row-gap: 8px;
    flex-wrap: wrap;
}

nav li {
    font-size: 18px;
    cursor: pointer;
    line-height: 1;
    padding: 4px;
}

nav li.dropdown::after {
    content: ' ⌄';
    position: relative;
    top: -4px;
    color: #666;
}

nav a, nav a:visited {
    color: black;
    text-decoration: none;
}

#bar-subtext {
    padding: 0 24px;
    padding-top: 8px;
    font-weight: bold;
    font-family: "Courier Prime", "Courier New", monospace;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

#bar-subtext .left, #bar-subtext .right {
    flex: 1 0 0;
}

#bar-subtext .center {
    padding: 0 16px;
    text-align: center;
}

#bar-subtext .right {
    text-align: right;
}

#content {
    width: 100%;
}

@media (max-width: 960px) {
    #bar-subtext {
        font-size: 12px;
    }
}

@media (max-width: 840px) {
    /* #bar-subtext {
        flex-direction: column;
        align-items: center;
    }

    #bar-subtext > div {
        text-align: center;
        padding: 0 16px;
    } */

    #bar-subtext .left, #bar-subtext .right {
        display: none;
    }

    #bar-subtext .center {
        flex-grow: 1;
    }
}