/* Reset stylesheet */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
    font: inherit;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    display: block;
}

/* Opinionated site styling */

:root {
    --background-color: #fafafa;
    --font-color: #000000;
    --accent-color: #da0000;
    --dark-accent-color: #990024;
    --border-color: #888888;
    --dark-border-color: #444444;
    --black-border-color: #121212;

    --display-font-stack: 'Special Elite';
    --serif-font-stack: 'Crimson Text';
    --sans-font-stack: 'Roboto';
    --mono-font-stack: 'Courier Prime', monospace;

    --title-font-stack: var(--display-font-stack);
    --byline-font-stack: var(--sans-font-stack);
    --body-font-stack: var(--serif-font-stack);

    --line-height: 1.5;

    --wide-padding: 24px;
}

body {
    background-color: var(--background-color);
    font-family: var(--body-font-stack);

    line-height: var(--line-height);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font-stack);
    line-height: 1.25;
    text-wrap: pretty;
    text-align: left;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 42px;
    text-align: center;
}

h2 {
    font-weight: 900;
    font-size: 24px;
}

h3 {
    font-weight: 900;
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

p a, a.styled {
    color: var(--accent-color);
    text-decoration: underline;
}

p a:visited, a.styled:visited {
    color: var(--dark-accent-color);
}

hr {
    border: none;
    height: 1px;
    background-color: var(--border-color);
    margin: 12px;
}

/* Base layout styling */

.body-cont.base {
    display: flex;
    justify-content: center;
}

.body-cont.base > .wrapper {
    width: calc(1200px + 2 * var(--wide-padding));
    padding: 0 var(--wide-padding);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-cont.base header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid var(--black-border-color);

    padding-top: 12px;

    position: relative;

    font-family: var(--sans-font-stack);
}

.body-cont.base header::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    box-sizing: content-box;
    border-top: 1px solid var(--black-border-color);
}

.body-cont.base header .splash {
    position: absolute;
    top: 36px;
    left: 24px;
    max-width: 128px;
    text-wrap: pretty;
    font-size: 14px;
    text-align: center;
    font-style: italic;
}

@media (max-width: 826px) {
    .body-cont.base header .splash {
        display: none;
    }
}

.body-cont.base header > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.body-cont.base header img {
    max-height: 108px;
    max-width: 50%;
}

.body-cont.base header nav {
    margin: 12px 0;
    max-width: 100%;
    font-family: var(--display-font-stack);
}

.body-cont.base header nav ul {
    padding: 0;

    display: flex;
    justify-content: center;
    column-gap: 16px;
    row-gap: 8px;
    flex-wrap: wrap;

    list-style: none;
}

.body-cont.base header nav li {
    font-size: 18px;
    cursor: pointer;
    line-height: 1;
}

.body-cont.base header nav a {
    padding: 4px;
    display: block;
}

.body-cont.base .bar-subtext {
    padding: 0 24px;
    padding-top: 8px;
    font-weight: bold;
    font-family: var(--mono-font-stack);
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.body-cont.base .bar-subtext .left, .body-cont.base .bar-subtext .right {
    flex: 1 0 0;
}

.body-cont.base .bar-subtext .center {
    padding: 0 16px;
    text-align: center;
}

.body-cont.base .bar-subtext .right {
    text-align: right;
}

.body-cont.base .cont {
    padding: calc(2 * var(--wide-padding)) var(--wide-padding);
}

@media (max-width: 960px) {
    .body-cont.base .bar-subtext {
        font-size: 12px;
    }
}

@media (max-width: 840px) {
    .body-cont.base .bar-subtext .left, .body-cont.base .bar-subtext .right {
        display: none;
    }

    .body-cont.base .bar-subtext .center {
        flex-grow: 1;
    }
}