.article-card, .image-gag-card {
    display: block;
    border: 1px solid var(--border-color);
    padding: 24px;
    margin-bottom: 12px;
}

.article-card h2 {
    margin-bottom: 2px;
}

.article-card p {
    font-size: 14px;
    margin-bottom: 6px;
}

.article-card p:last-child {
    margin-bottom: 0;
}

.article-card p.byline {
    font-family: var(--byline-font-stack);
    margin-bottom: 12px;
    text-align: left;
}

.article-card img {
    width: 50%;
    margin-left: 25%;
}

.image-gag-card .img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gag-card .img-cont img {
    max-width: 100%;
    margin-bottom: 12px;
}

.image-gag-card .caption-byline {
    text-align: center;
    font-size: 14px;
    padding: 0 12px;
}

.image-gag-card .caption-byline p {
    font-size: inherit;
}

.image-gag-card .caption p:last-child {
    display: inline;
}

.image-gag-card span.byline {
    font-family: var(--byline-font-stack);
    font-size: 14px;
}

.image-gag-card span.byline a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}