.article-card, .image-gag-card {
    display: block;
    border: 1px solid var(--border-color);
    padding: 24px;
    margin-bottom: 12px;
}

.article-card h2 {
    margin-bottom: 2px;
}

.article-card p {
    font-size: 14px;
    margin-bottom: 6px;
}

.article-card p:last-child {
    margin-bottom: 0;
}

.article-card p.byline {
    font-family: var(--byline-font-stack);
    margin-bottom: 12px;
    text-align: left;
}

.article-card p.byline a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.article-card img {
    width: 50%;
    margin-left: 25%;
}

.image-gag-card .img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gag-card .img-cont img {
    max-width: 100%;
    margin-bottom: 12px;
}

.image-gag-card .caption-byline {
    text-align: center;
    font-size: 14px;
    padding: 0 12px;
}

.image-gag-card .caption-byline p {
    font-size: inherit;
}

.image-gag-card .caption p:last-child {
    display: inline;
}

.image-gag-card span.byline {
    font-family: var(--byline-font-stack);
    font-size: 14px;
}

.image-gag-card span.byline a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.image-gag-card img {
    max-height: 40vh;
}

.staff-card::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 6px 0;
}

.staff-card:last-child::after {
    display: none;
}

.staff-card-cont {
    display: flex;
    gap: 18px;
    padding: 18px;
}

.staff-card-cont:hover {
    background-color: #f0f0f0;
}

.staff-card-cont h3 {
    font-size: 18px;
}

.staff-card-cont img {
    width: 84px;
    height: 84px;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    border-radius: 50%;
}

.staff-card-cont .staff-card-roles-and-academics {
    font-size: 14px;
    margin-bottom: 6px;
    font-family: var(--sans-font-stack);
}

.issue-card::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 6px 0;
}

.issue-card:last-child::after {
    display: none;
}

.issue-card-cont {
    padding: 18px;
}

.issue-card-cont:hover {
    background-color: #f0f0f0;
}

.issue-card-cont .date {
    font-family: var(--sans-font-stack);
    color: #666666;
    font-size: 12px;
    margin-bottom: 6px;
}

.issue-card-cont .issue-subtitle {
    font-family: var(--sans-font-stack);
    line-height: 1.25;
    font-size: 14px;
}