:root {
    --content-mill-font-stack: var(--sans-font-stack);
}

.body-cont.content-mill {
    display: flex;

    font-family: var(--content-mill-font-stack);
}

.body-cont.content-mill > .sidebar {
    width: 240px;
    border-right: 1px solid #888888;
    height: 100vh;
    overflow-y: scroll;
    padding: 18px;
}

.body-cont.content-mill > .sidebar .img-cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-cont.content-mill > .sidebar .img-cont img {
    width: 90%;
}

.body-cont.content-mill > .sidebar hr {
    background-color: #cccccc;
    margin: 18px 0;
}

.body-cont.content-mill > .sidebar .header {
    margin-bottom: 12px;
}

.body-cont.content-mill > .sidebar h1 {
    font-family: var(--title-font-stack);
    font-size: 21px;
    text-align: left;
}

.body-cont.content-mill > .sidebar .timestamp {
    font-family: var(--mono-font-stack);
    color: #666666;
    font-size: 12px;
    font-weight: bold;
}

.body-cont.content-mill > .sidebar .link-group {
    margin-bottom: 12px;
}

.body-cont.content-mill > .sidebar .link-group h2 {
    font-family: inherit;
    font-size: 14px;
    user-select: none;
    margin-bottom: 2px;
}

.body-cont.content-mill > .sidebar .link-group ul {
    list-style-type: none;
    padding: 0;
}

.body-cont.content-mill > .sidebar .link-group ul li {
    font-size: 14px;
    margin-left: -2px;
}

.body-cont.content-mill > .sidebar .link-group ul li a {
    display: block;
    color: #222222;
    padding: 2px;
}

.body-cont.content-mill > .sidebar .link-group ul li a:hover {
    text-decoration: underline;
}

.body-cont.content-mill > .cont {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.body-cont.content-mill > .cont > .cont-scroll {
    flex-grow: 1;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-cont.content-mill > .cont > .cont-scroll .nothing {
    font-family: var(--mono-font-stack);
    color: #888888;
    font-size: 14px;
}