.page-header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.links{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.cont.donate {
    text-align: justify;
}

.cont.donate h1 {
    margin-bottom: 12px;
}

.cont.donate p {
    margin-bottom: 6px;
}

.cont.donate .top-cont {
    margin-bottom: 24px;
}

.cont.donate .sub-cont {
    margin-bottom: 12px;
}

.cont.donate .donate-link {
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
}