.cont.index {
    text-align: justify;
    padding: var(--wide-padding) !important;
    padding-bottom: calc(var(--wide-padding) + 32px) !important;
}

.cont.index .front-page {
    display: flex;
    margin-bottom: 24px;
}

.cont.index .main {
    flex-grow: 1;
    max-width: 100%;
    padding-right: var(--wide-padding);
}

.cont.index .main img {
    width: 100%;
    margin-bottom: 12px;
}

.cont.index .main h1 {
    margin-bottom: 12px;
}

.cont.index .main > div > p.byline {
    text-align: center;
}

.cont.index p.byline {
    font-family: var(--byline-font-stack);
}

.cont.index p.byline a {
    color: unset;
    text-decoration: none;
    font-weight: bold;
}

.cont.index .main hr {
    margin: 24px 0;
}

.cont.index .module-1 {
    display: flex;
}

.cont.index .module-1 .module-column {
    width: 240px;
    padding-right: 24px;
    box-sizing: content-box;
    border-right: 1px solid var(--border-color);
    flex-shrink: 0;
}

@media (min-width: 640px) {
    .cont.index .module-column h2 {
        text-align: center;
    }

    .cont.index .module-1 > div.module-column p.byline {
        text-align: center;
    }
}

.cont.index .module-1 > div p.byline {
    margin-bottom: 12px;
}

.cont.index .module-1 > div p {
    font-size: 14px;
    margin-bottom: 6px;
}

.cont.index .module-1 .module-wide {
    padding-left: 24px;
    flex-grow: 1;
}

.cont.index .module-wide > div {
    margin-bottom: 24px;
}

.cont.index .sidebar {
    padding-left: var(--wide-padding);
    box-sizing: content-box;
    width: 300px;
    max-width: 25vw;
    flex-shrink: 0;
    border-left: 1px solid var(--border-color);
}

.cont.index .sidebar > div {
    margin-bottom: var(--wide-padding);
}

.cont.index .sidebar > div img {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
}

.cont.index .sidebar p.byline {
    margin-bottom: 12px;
}

.cont.index .sidebar p {
    font-size: 14px;
    margin-bottom: 6px;
}

.cont.index .addl-cont > div {
    border-top: 1px solid var(--border-color);
    display: flex;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.cont.index .addl-cont > div:last-child {
    padding-bottom: 0;
}

.cont.index .addl-cont > div > div:not(.divider) {
    flex: 1 0 0;
}

.cont.index .addl-cont > div > div.divider {
    width: 1px;
    background-color: var(--border-color);
}

.cont.index .addl-cont > div > div img {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
}

#ticker {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 4px 0;
    background-color: #121212;
    color: #ffffff;
    font-weight: 500;
    font-family: var(--sans-font-stack);
}

#ticker > div {
    overflow-x: hidden;
    white-space: pre;
    animation-name: ticker;
    animation-timing-function: linear;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

#ticker > div::after {
    content: ' • ';
}

@keyframes ticker {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

@media (prefers-reduced-motion) {
    #ticker > div {
        animation: none !important;
        position: relative;
        top: 0;
        left: 50vw;
        transform: translate(-50%, 0);
    }

    #ticker > div::after {
        content: none;
    }
}

@media (max-width: 960px) {
    .cont.index .main {
        padding-right: 0;
    }

    .cont.index .sidebar {
        display: none;
    }
}

@media (max-width: 640px) {
    .cont.index .front-page {
        flex-direction: column;
        border-bottom: 1px solid var(--border-color);
    }

    .cont.index .module-1 {
        flex-direction: column;
    }
    
    .cont.index .module-1 .module-column {
        width: unset;
        padding-right: 0;
        border-right: none;
        margin-bottom: 24px;
    }
    
    .cont.index .module-1 .module-wide {
        padding-left: 0;
        flex-grow: unset;
    }
    
    .cont.index .module-1 .module-wide hr {
        display: none;
    }

    .cont.index .addl-cont > div {
        display: unset;
        border: none;
        padding: 0;
    }

    .cont.index .addl-cont > div > div:not(.divider) {
        margin-bottom: 24px;
    }

    .cont.index .addl-cont > div:last-child > div:last-child {
        margin-bottom: 0;
    }
}