.cont.index {
    text-align: justify;
}

.cont.index h1, .cont.index h2 {
    font-family: var(--title-font-stack);
}

.cont.index h2 {
    font-weight: 900;
    font-size: 24px;
    text-wrap: pretty;
    line-height: 1.25;
    margin-bottom: 2px;
    text-align: left;
}

.cont.index .front-page {
    display: flex;
}

.cont.index .main {
    flex-grow: 1;
    max-width: 100%;
    padding-right: var(--wide-padding);
}

.cont.index .main img {
    width: 100%;
    margin-bottom: 12px;
}

.cont.index .main h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 42px;
    text-align: center;
    text-wrap: pretty;
    line-height: 1.25;
    margin-bottom: 12px;
}

.cont.index h1 a, .cont.index h2 a {
    color: unset;
    text-decoration: unset;
}

.cont.index .main > div > p.byline {
    text-align: center;
}

.cont.index p.byline a {
    color: unset;
    text-decoration: unset;
    font-weight: bold;
}

.cont.index .main hr {
    margin: 24px 0;
}

.cont.index .module-1 {
    display: flex;
}

.cont.index .module-1 .module-column {
    width: 240px;
    padding-right: 24px;
    box-sizing: content-box;
    border-right: 1px solid #888888;
    flex-shrink: 0;
}

@media (min-width: 640px) {
    .cont.index .module-column h2 {
        text-align: center;
    }

    .cont.index .module-1 > div.module-column p.byline {
        text-align: center;
    }
}

.cont.index .module-1 > div p.byline {
    margin-bottom: 12px;
}

.cont.index .module-1 > div p {
    font-size: 14px;
    margin-bottom: 6px;
}

.cont.index .module-1 .module-wide {
    padding-left: 24px;
    flex-grow: 1;
}

.cont.index .module-wide > div {
    margin-bottom: 24px;
}

.cont.index .sidebar {
    padding-left: var(--wide-padding);
    box-sizing: content-box;
    width: 300px;
    max-width: 25vw;
    flex-shrink: 0;
    border-left: 1px solid #888888;
}

.cont.index .sidebar > div {
    margin-bottom: var(--wide-padding);
}

.cont.index .sidebar > div img {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
}

.cont.index .sidebar p.byline {
    margin-bottom: 12px;
}

.cont.index .sidebar p {
    font-size: 14px;
    margin-bottom: 6px;
}

/* #additional-content {
    align-items: center;
}

#additional-content > div {
    border-top: 1px solid #888;
    display: flex;
    padding-top: 10px;
    padding-bottom: 24px;
}

#additional-content > div > div {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: content-box;
    width: 400px;
    max-width: 30vw;
    max-height: 60vh;
}

#additional-content > div > div img {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
} */

#ticker {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 4px 0;
    background-color: #121212;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Roboto';
}

#ticker > div {
    overflow-x: hidden;
    white-space: pre;
    animation-name: ticker;
    animation-timing-function: linear;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

#ticker > div::after {
    content: ' • ';
}

@keyframes ticker {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

@media (prefers-reduced-motion) {
    #ticker > div {
        animation: none !important;
        position: relative;
        top: 0;
        left: 50vw;
        transform: translate(-50%, 0);
    }

    #ticker > div::after {
        content: none;
    }
}

@media (max-width: 960px) {
    .cont.index .main {
        padding-right: 0;
    }

    .cont.index .sidebar {
        display: none;
    }
}

@media (max-width: 640px) {
    .cont.index .module-1 {
        flex-direction: column;
    }
    
    .cont.index .module-1 .module-column {
        width: unset;
        padding-right: 0;
        border-right: none;
        padding-bottom: 24px;
        border-bottom: 1px solid #888888;
    }
    
    .cont.index .module-1 .module-wide {
        padding-left: 0;
        padding-top: 24px;
        flex-grow: unset;
    }
}