.cont.issue-list h1 {
    margin-bottom: 12px;
}

.cont.issue-list details {
    border: 1px solid #444444;
    padding: 0;
    border-radius: 8px;
    margin-bottom: 12px;
    font-family: var(--display-font-stack);
    font-size: 18px;
}

.cont.issue-list summary {
    cursor: pointer;
    padding: 12px;
    padding-left: 18px;
}

.cont.issue-list details:open summary {
    border-bottom: 1px solid #444444;
}

.cont.issue-list details > div {
    padding: 12px;
}

.cont.issue-list .issue-item {
    display: flex;
}

.cont.issue-list .issue-item:not(:last-child) {
    margin-bottom: 12px;
}

.cont.issue-list .issue-square {
    width: 100px;
    height: 100px;
    border: 1px solid #444444;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
}

.cont.issue-list .issue-info {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline;
    text-wrap: balance;
}