.cont.issue-list h1 {
    margin-bottom: 12px;
}

.cont.issue-list details {
    border: 1px solid var(--dark-border-color);
    padding: 0;
    border-radius: 8px;
    margin-bottom: 12px;
}

.cont.issue-list summary {
    cursor: pointer;
    padding: 12px;
    padding-left: 18px;
    font-family: var(--display-font-stack);
}

.cont.issue-list details:open summary {
    border-bottom: 1px solid var(--dark-border-color);
}

.cont.issue-list details > div {
    padding: 12px;
}

.cont.issue-list .issue-item {
    display: flex;
}

.cont.issue-list .issue-item:not(:last-child) {
    margin-bottom: 12px;
}

.cont.issue-list .issue-square {
    width: 100px;
    height: 100px;
    border: 1px solid var(--dark-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    font-family: var(--display-font-stack);
    font-size: 18px;
}

.cont.issue-list .issue-info {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont.issue-list .issue-info > div {
    padding: 12px;
    text-align: center;
}

.cont.issue-list .issue-info h2 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 4px;
    text-align: inherit;
}

.cont.issue-list .issue-info p {
    font-size: 14px;
    font-family: var(--sans-font-stack);
    line-height: 1.25;
}