.cont.issue h2 {
    text-align: center;
    margin-bottom: 12px;
}

.cont.issue .rejected-headlines {
    padding: 12px;
    text-align: left;
    border: 1px solid var(--dark-border-color);
    margin-bottom: 12px;
}

.cont.issue .rejected-headlines h3.top {
    margin-bottom: 6px;
}

.cont.issue .rejected-headlines h3.bottom {
    margin-top: 9px;
    text-align: right;
}

.cont.issue .rejected-headlines ul {
    list-style-type: initial;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}