.cont.purity-test h1 {
    margin-bottom: 12px;
}

.cont.purity-test .main-content{
    padding-bottom: 24px;
}

.cont.purity-test .questions ol {
    list-style-type: decimal;
}

.cont.purity-test li {
    list-style-position: outside;
}

.cont.purity-test input[type="checkbox"] {
    accent-color: var(--accent-color);
}

.cont.purity-test .buttons {
    padding-top: 24px;
    padding-bottom: 24px;
}

.cont.purity-test .buttons .button {
    margin: 5px;
    border-radius: 10px;
    border-color: var(--border-color);
    background-color: #dddddd;
}

.cont.purity-test .buttons .button:hover {
    background-color: #cccccc;
}

.cont.purity-test #score {
    display: none;
}

.cont.purity-test #user-score {
    color: var(--accent-color);
}