{% extends "./base.html" %}

{% load static %}
{% load tag %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'styles/cm_create_story.css' %}">
<link rel="stylesheet" href="{% static 'styles/article.css' %}">
{% endblock styles %}

{% block cont %}
<div class="cont cm-create-story">
    <div class="input">
        <h1>Create Story</h1>

        <div class="group">
            <label for="type">Type:</label>
            <select id="type">
                <option selected>Article</option>
                <option>Image Gag</option>
            </select>
        </div>

        <form id="article">
            <div class="group">
                <label for="title">Title:</label>
                <input type="text" id="title-input" name="title" spellcheck="true">
            </div>

            <div class="group">
                <label for="slug">Slug (URL component):</label>

                <input type="text" id="slug" name="slug" spellcheck="true">
            </div>

            <noscript>
                <div class="group">
                    <label for="writers-select">Writers:</label>
                    <select multiple id="writers-select" name="writers-nojs">
                        {% for author in authors %}
                        <option>{{ author.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="anon-writers">Anonymous writers:</label>
                    <input type="number" min="0" id="anon-writers" name="anon-writers-nojs">
                </div>
            </noscript>

            <div class="group">
                <h2>Writers:</h2>

                <ul id="writers">
                    <li class="add-btn"><input type="button" id="add-anon" value="+ Add anonymous writer"></li>
                </ul>

                <input type="search" id="find-writer" placeholder="Find by name or slug...">

                <div id="writers-found"></div>

                <input type="hidden" id="writers-hidden" name="writers-js" value=""/>
                <input type="hidden" id="anon-writers-hidden" name="anon-writers-js" value="0"/>
            </div>

            <div class="group">
                <label for="body">Body:</label>

                <div class="grow">
                    <textarea id="body-input" name="body" spellcheck="true"></textarea>
                </div>
            </div>

            <div class="group">
                <label for="issue">Issue:</label>
                <select id="issue" name="issue">
                    <option value="" selected>---</option>
                    {% for issue in issues %}
                    <option value="{{ issue.vol }}.{{ issue.num }}">Vol {{ issue.vol }}, Issue {{ issue.num }}: {{ issue.short_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="group">
                <label for="creation-date">Creation date:</label>
                <input type="date" id="creation-date" name="creation-date">
            </div>
        </form>
    </div>

    <div class="spacer"></div>

    <div class="output">
        <div class="inner-wrapper" id="article-wrapper">
            {% include "magazine/article_cont.html" %}
        </div>
    </div>
</div>
{% endblock cont %}

{% block scripts %}
{{ used_slugs|json_script:"used-slugs" }}
{{ author_records|json_script:"authors" }}
{{ issue_records|json_script:"issues" }}
<script src="{% static 'js/create_story.js' %}"></script>
{% endblock scripts %}